<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="vertical-menu">
        <a href="/v1/shop" class="active">Home</a>
        <a href="/v1/shop/login">Login</a>
        <a href="/v1/shop/customers/register">Register</a>
        <a href="/v1/shop/orders">Order</a>
        <a href="/v1/shop/logout">logout</a>
    </div>
    <div>
        <h1>Order list</h1>
    </div>
    <div>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>Remove</th>
            </tr>
            <tr th:each ="row, state : ${orderList}">
                <td th:utext="${state.count}">...</td>
                <td th:utext="${row.name}">...</td>
                <td th:utext="${row.quantity}">...</td>
                <td th:utext="${row.price}">...</td>
                <td><a th:href="'/v1/shop/orders/'+${row.id}">remove</a></td>
            </tr>
        </table>
    </div>
    <div>
        Total all: <p th:utext="${total}">..</p>
    </div>
    <div>
        <form th:action="@{/v1/shop/orders}"  method="POST">
            <button>Order</button>
        </form>
    </div>
</body>
</html>